.login{
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 60px 0px;
        gap: 14px;
        font-family: "Montserrat", sans-serif;
    }

    h1{
        color: gray;
    }

    label{
        color: rgb(62, 62, 62);
        font-size: 18px;
        font-weight: 500;

    }

    input,textarea{
        padding: 18px;
        border: 1px solid rgb(183, 249, 190);
    }

    button{
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        background-color: #1dbf73;
        cursor: pointer;
    }
}
